[user]
	name = David Baierl
	email = 12718257+david-baierl@users.noreply.github.com
	signingkey = 1FA3D2E54E18615E
[core]
	eol = lf
	autocrlf = false
[pull]
	rebase = true
[push]
	autoSetupRemote = true
	recurseSubmodules = on-demand
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[init]
	defaultBranch = main
[submodule]
	recurse = true
	stickyRecursiveClone = true