[user]
	name = David Baierl
	email = 12718257+david-baierl@users.noreply.github.com
	signingkey = ~/.ssh/id_ed25519.pub
[core]
	eol = lf
	autocrlf = false
	excludesFile = ~/.gitignore.global
	editor = vim
[pull]
	rebase = true
[push]
	autoSetupRemote = true
	recurseSubmodules = on-demand
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[init]
	defaultBranch = main
[submodule]
	recurse = true
	stickyRecursiveClone = true
[gpg]
	format = ssh
